{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
    {% load static %}
    <script src="{% static 'interactive.js' %}"></script>
    <title>Hä?</title>
</head>

<body>
    <div class="topPanel">
        <div class="logo">
            <h1><a href="./" style="text-decoration: none; color: rgb(169, 240, 176);">Hä?</a></h1>
        </div>
        <div class="rightButtons">
            <input type="button" value="My dictionary">
            <input type="button" value="Settings" onclick="
            var rect = document.getElementById('rectangle'); 
            var rectBack=document.getElementById('rectangleBack');
            var box=document.getElementById('boxcontent');
            rect.style.left = '0%';
            rectBack.style.left = '0%';
            box.style.left = '0%';
            rect.style.opacity = '0';
            rectBack.style.opacity = '0';
            box.style.opacity = '0';
            setTimeout((doc) => doc.location.href='/settings', 900, document);">

            <input type="button" value="Log In" onclick="
            var rect = document.getElementById('rectangle'); 
            var rectBack=document.getElementById('rectangleBack');
            var box=document.getElementById('boxcontent');
            rect.style.left = '0%';
            rectBack.style.left = '0%';
            box.style.left = '0%';
            rect.style.opacity = '0';
            rectBack.style.opacity = '0';
            box.style.opacity = '0';
            setTimeout((doc) => doc.location.href='/login', 900, document);">
        </div>
    </div>
    <div class="rectangleBack" id="rectangleBack">
        <div class="translation" id="translation">
            <h8>{{translation}}
            </h8>
        </div>
    </div>
    <div class="rectangle" id="rectangle"> </div>
    <div class="boxcontent" id="boxcontent">

        <div class="textcontent" id="textcontent">
            <div class="tasktext" id="tasktext">
                <h1 id="tasktitle">{{tasktitle}}</h1>
                <h8 id="tasktextraw">{{tasktextvar}}</h8>
            </div>
            <div class="sendanswer">
                <input type="text" id="user answer" name="user answer">
                <input type="button" value="send answer">
            </div>
            <div class="answer" id="answer">
                <label>
                    <h4>answer: {{answer}}</h4>
                </label>
            </div>
        </div>

        <div class="rightbuttons">
            <form method="post" action="{% url 'submit' %}">
                {% csrf_token %}
                <input type="submit" value="next question" id="buttonNext" />
            </form>


            <input type="submit" value="translate" id="translateButton">
            <input type="submit" value="show answer">
        </div>



    </div>

    <!-- your content here... -->
</body>

</html>