body {
    background-image: url("habackground.png");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
}

.rectangle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    height: 400px;
    width: 800px;
    margin: 0;
    background-color: rgb(169, 240, 176);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.8s;

}

.rectangle .info {
    font-family: ABeeZee;
    width: 400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.rectangle .info input[type=text]
{
    font-family: ABeeZee;
    height: 30px;
    margin-bottom: 15px;
    background-color: #CFFFC7;
    border: none;
    font-size: 18px;
    padding: 5px;
}

.rectangle .info input[type=button]
{
    background-color: #7C6354;
    border-radius: 20px;
    color: #CFFFC7;
    border: none;
    height: 40px;
    font-size: 18px;
    transition: 0.4s;
}

.rectangle .info input[type=button]:hover
{
    background-color: #CFFFC7;
    border-radius: 20px;
    color: #7C6354;
    border: none;
    height: 40px;
    font-size: 18px;

}

.rectangle .info label
{
    margin-bottom: 5px;
    font-size: 18px;
}

.rectangleBack {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    height: 500px;
    width: 800px;
    margin: 0;
    background-color: rgb(124, 99, 84);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.6s;

}

.rectangleBack {
    opacity: 0;
    color: rgb(207, 255, 199);
    font-family: ABeeZee;
    font-size: 18px;
    width: 65%;
    top: 50%;
    left: 0%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#signuptext
{
    margin-top: 20px;
    text-align: center;
}